<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bleexampleapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLEexampleApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bledevice.BleOperationsActivity" />
    </application>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- Location premission is requires  to ble scan result  main intention is to protect user privacy ,
    A BLE scan can often unintentionally reveal the user’s location to unscrupulous app developers who scan for specific BLE beacons,
    or some BLE device may advertise location-specific information.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--    required=true restricts only BLE enabled devices. if required= false this will show devices which doesnt support BLE.-->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>